@dark-gray:color('#a7a9ac');
@gt_tablet : ~'(min-width:765px)';
@lt_tablet : ~'(max-width:764px)';

nav {
  position: relative;

  .inner {
    width: 240px;  
    margin:0 auto;
    
    @media (min-width: 414px) {
      width:auto;
    }
  }
    

  a {
    &.active {
      border-bottom: 1px solid black;
    }
  }
  .tags-toggle-btn {
    position: absolute;
    right:0;
    top:8px;
    color: @dark-gray;
    text-decoration: none;
    border-bottom: 0;
    background:none;
    &:hover {
      text-decoration: none;
      border-bottom: 0;
      background:none;
    }
  }
  .tags-toggle-btn.open {
    color:black;
    text-decoration: none;
    border-bottom: 0;
    background:none;  
  }
}

.no-touch nav .tags-toggle-btn {
    &:hover {
    color:black;
    text-decoration: none;
    border-bottom: 0;
    background:none;
  }
}

.tag-filters-wrap {
  display:none;
  position: relative;
  background-color: @dark-gray;
  text-align: center;
  font-size: 16px;
  padding: 8px 0;
  line-height: 27px;

  .tag-list-el {
    display:inline-block;
  }
  a {
    color: white;
    text-decoration: none;
    margin: 0 16px;
    
    &.is-checked {
      color:black;
    }
  }
}

.password-form--wrap {
  padding:30px 0;
  width:80%;
  margin-left:10%;
}


// Slider styles
.swiper-container {
  .swiper-slide {

    &:hover {
      &.swiper-slide-active .caption  {
        opacity:1;
        z-index: 300;       
      }
    }
    
    img {
      width:100%;
      height:auto;
    }
    &.slide-has-link {
      cursor:pointer;
    }
  }

  .swiper-button-prev, .swiper-button-next {
    background-size: 44px 100%;
    // text-shadow:0px 0px 5px rgba(0, 0, 0, 0.3);
    @shadow : 0px 0px 3px rgba(0, 0, 0, 0.3);
    filter: drop-shadow( @shadow ); /* Same syntax as box-shadow */    
    opacity:.7;
    @media (min-width:768px) {
      height:44px * .85;
      width:27px * .85;
      background-size:44px * .85;
    }
    html.touch & {
      display:none;
    }
    @media (max-width:479px) {
      display:none;
    }
  }
  .swiper-button-prev {
    background-image:url('../images/chevron-thin-left.white.svg');
    left:8px;
  }

  .swiper-button-next   {
    background-image:url('../images/chevron-thin-right.white.svg');
    right:8px;
  }

  .caption {
    width: 100%;
    position: absolute;
    bottom:0;
    left:0;

    opacity:0;
    // z-index: -1;
    
    transition: opacity .3s ease;
    @media (max-width:479px) {
      opacity:1;
      z-index: 3;      
    }
    html.touch & {
      opacity:1;
      z-index: 3;      
    }

  }
} // .swiper-container



// Masonry-related styles + img stuff
@transition : opacity .3s ease;
.masonry-element {

  &.work-project {
    @media @gt_tablet {
      
      .project-text {
        display:none;
      }
      &.lazy-loaded {
        .project-text {
          display:block;
        }
      }

    }

  } // &.work-project

  img {
    transition: @transition;
    display:block;
    width:100%;
    max-width:100%;
    height:auto;

  }
}


// Project Text / Meta Info Styles
.masonry-element {
	
  .project-text {
    color: #ffffff;
    background-color: #9d9fa2;

    h3 {
      font-size: 20px;
      line-height: 22px;
      padding: 0 12px;
      font-family: "FranklinGothic-Condensed";
      text-transform: uppercase;
    }
    a {
      text-decoration: none;
      color: #ffffff;
      margin-right: 12px;
    }
    .tags {
      padding: 0 12px;
      line-height: 17px;
      font-size: 14px;
      margin-top: 10px;
    }
  }

  .no-touch & {
    .project-text {
      position: absolute;
      bottom: 0;
      width: 100%;
      .tags {
        margin-bottom: 9px;
      }
      h3:first-child {
        margin-top: 9px;
      }
    }    
  }

  .touch & {
    .project-text {
      .tags {
        padding-bottom: 9px;
        margin-bottom: 0;
      }
      h3:first-child {
        padding-top: 9px;
        margin-top: 0;
      }
    }    
  }

  &.project-masonry-element {
    @media only screen and @gt_tablet  {
      float: left;
      width: 49.5%;
      margin: .25%;
    }
  }

} // .masonry-element


.home-project,
.project-masonry-element {
  transition: @transition;
  img.lazy {
    transition: @transition;
    display:block;
    max-width:100%;
    width:100%;
    height:auto;
  }
}



// Lazy-loading / FOUC
// Prevent FOUC if opacity class is present 
html.opacity {

  @media @lt_tablet {

    .masonry-element {
      .work-archive-img {
        opacity: 0;
        filter: alpha(opacity=0);   
      }
    }
  }

} // html.opacity