@font-face {
    font-family: "FranklinGothic-Book";
    src: url("fonts/2F0BE0_0_0.eot");
    src: url("fonts/2F0BE0_0_0.eot?#iefix") format("embedded-opentype"),url("fonts/2F0BE0_0_0.woff2") format("woff2"),url("fonts/2F0BE0_0_0.woff") format("woff"),url("fonts/2F0BE0_0_0.ttf") format("truetype");
}

@font-face {
    font-family: "FranklinGothic-Condensed";
    src: url("fonts/2F0BE0_1_0.eot");
    src: url("fonts/2F0BE0_1_0.eot?#iefix") format("embedded-opentype"),url("fonts/2F0BE0_1_0.woff2") format("woff2"),url("fonts/2F0BE0_1_0.woff") format("woff"),url("fonts/2F0BE0_1_0.ttf") format("truetype");
}

/* General Styles */
html {
    color: #3a3a3c;
    line-height: 1.4;    
    font-size: 16px;
    font-family: "FranklinGothic-Book", "Franklin Gothic", Helvetica, Arial, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

/* Prevent FOUC if opacity class is present */
html.opacity .masonry {
    opacity: 0;
    filter: alpha(opacity=0);
}

::-moz-selection {
    background: #3a3a3c;
    text-shadow: none;
    color: #fff;
}

::selection {
    background: #3a3a3c;
    text-shadow: none;
    color: #fff;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.01);
    text-rendering: optimizeLegibility;
}

body {
    overflow-x: hidden;
}

/* Header Styles */
header {
    background-color: #fff;
}

h1 {
    position: relative;
    background-color: #282829;
    margin: 0;
    padding: 8px 0;
}

h1 a {
    display: block;
    margin: 0 auto;
    height: 34px;
    width: 159px;

    text-transform: none;
    background-image: url("../images/logo.png");
    background-size: 159px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

nav {
    position: relative;
    background-color: #fff;
    text-align: center;
    font-size: 16px;
    padding: 8px 0;
    width: 240px;
    margin: 0 auto;
    line-height: 27px;
}

nav a {
    color: #3a3a3c;
    text-decoration: none;
    margin: 0 16px;
}

/* Selected States for Nav */
nav a:hover, nav a.selected, .home-page nav a.home, .work-page nav a.work, .project-page nav a.work, .about-page nav a.about, .reel-page nav a.reel, .contact-page nav a.contact {
    background: transparent url("../images/underline.png") bottom left repeat-x;
}

/* Slideshow Styles */
.slideshow {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slideshow .dots {
    position: absolute;
    width: 100%;
    top: 0;
    text-align: center;
    overflow: hidden;
    margin-top: 8px;
    line-height: 0;
    z-index: 3;
}

.slideshow .dot {
    height: 7px;
    width: 7px;
    background-color: #9C9EA1;
    display: inline-block;
    border-radius: 50%;
    margin: 1px 8px;
    cursor: pointer;
}

.slideshow .dot.current {
    border: solid 1px #9C9EA1;
    background-color: #ffffff;
    margin: 0 7px;
}

.slideshow .caption {
    font-family: "FranklinGothic-Condensed";
    font-size: 16px;
    height: 32px;
    line-height: 32px;
    background-color: #282829;
    color: #ffffff;
}

.no-touch .slideshow .caption {
    width: 100%;
    position: absolute;
    bottom:0;
    left:0;
    z-index: 2;
    display: none;
}

.slideshow .caption h2 {
    padding: 0 12px;
    display: none;
}

.slideshow .caption h2.current {
    display: block;
}

.slideshow .caption a {
    color: inherit;
    text-decoration: none;
}

.slideshow .slides {
    position: relative;
    width: 800%; /* This will be overwritten via JS */
    overflow: hidden;
}

.slideshow img {
    width: 12.5%; /* This will be overwritten via JS */
    display: block;
    float: left;
}

/* Main Home Blurb Styles */
.home-blurb {
    padding: 12px 12px 0 12px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.home-blurb p {
    margin-bottom: 14px;
}

.home-blurb p.home-blurb-1 {
    font-family: "FranklinGothic-Condensed";
    text-transform: uppercase;
    font-size: 20px;
    line-height: 22px;
}

.home-blurb p.home-blurb-2 {
    line-height: 19px;
    font-size: 15px;
}

/* Home Project Styles */
.masonry-element {
    width: auto;
    margin-bottom: 2%;
}

.home-project {
    cursor: pointer;
}

.no-touch .home-project {
    position: relative;
    overflow: hidden;
}

.home-project:last-child {
    margin-bottom: auto;
}

.no-touch .home-project img {
    position: relative;
    top: 0;    
}

.home-project img {
    width: 100%;
    display: block;
}

.home-project .home-project-text {
    color: #ffffff;
    background-color: #9d9fa2;
}

.no-touch .home-project .home-project-text {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.home-project .home-project-text h3 {
    font-size: 20px;
    line-height: 22px;
    padding: 0 12px;
    font-family: "FranklinGothic-Condensed";
    text-transform: uppercase;
}
.home-project .home-project-text a {
    text-decoration: none;
    color: #ffffff;
    margin-right: 12px;
}

.home-project .home-project-text .tags {
    padding: 0 12px;
    line-height: 17px;
    font-size: 14px;
    margin-top: 10px;
}

.touch .home-project .home-project-text .tags {
   padding-bottom: 9px;
   margin-bottom: 0;
}
.no-touch .home-project .home-project-text .tags {
   margin-bottom: 9px;
}
.touch .home-project .home-project-text h3:first-child {
    padding-top: 9px;
    margin-top: 0;
}
.no-touch .home-project .home-project-text h3:first-child {
    margin-top: 9px;
}

.tags a {
    display: inline-block;
}

/* Footer Styles */
footer {
    margin: 0 12px;
    overflow: hidden;
    height: 54px;
    line-height: 54px;
    clear: both;
}
.copyright {
    font-size: 15px;
    float: left;
    vertical-align: middle;
} 
.social {
    float: right;
}
.social img {
    vertical-align: middle;
    width: 26px;
}


/* Project Page Styles */

.project-hero img { /*For Projects with Hero Img */
    width: 100%;
    display: block;
}

.project-blurb {
    padding: 12px 0;
    margin: 0 12px;
    font-size: 15px;
    line-height: 19px;
    background: transparent url("../images/dotted-border.png") bottom left repeat-x;
}

.project-blurb h2 {
    font-family: "FranklinGothic-Condensed";
    text-transform: uppercase;
    font-size: 23px;
    line-height: 25px;
}

.project-blurb .project {
    margin-bottom: 19px;
}

.project-blurb .project a {
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
}

.project-blurb .blurb {
    font-size: 15px;
    line-height: 19px;
    margin-bottom: 19px;
}

.project-blurb h4 {
    text-transform: uppercase;
}

.project-blurb .tags {
    margin: 10px 0 19px 0;
}

.project-blurb .tags a {
    color: #939598;
    text-decoration: none;
    display: inline-block;
    margin-right: 20px;
}

.project-blurb:after {
    display: block;
    content: " ";
    clear: both;
    visibility: hidden;
    height: 0;
    font-size: 0;
}

.project-page h3 {
    padding: 12px 12px;
    font-size: 20px;
    font-family: "FranklinGothic-Condensed";
    text-transform: uppercase;
}

.credit {
    color: #939598;
    margin-bottom: 19px;
}

.credits-title {
    cursor: pointer;
}

.credits-title:hover {
    color: #4578bc;
}

.credits {
    margin-top: 19px;
    display: none;
}

.credits-title:after {
    font-size: 19px;
    float: right;
    content: "+";
    cursor: pointer;
}

.open.credits-title:after {
    content: "\2013";/* ndash */
}

.videos, .related-projects {
    overflow: hidden;
}

.video-thumb, .related-project {
    overflow: hidden;
    margin-bottom: 6px;
    position: relative;
}

.video-thumb:last-of-type, .related-project:last-of-type {
    margin-bottom: 0;
}

.video-thumb img, .related-project img {
    width: 100%;
    display: block;
}

.video-thumb .video-thumb-hover {
    width: 58px;
    height: 58px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -29px;
    margin-top: -29px;
    background: transparent url("../images/play.png") top left no-repeat;
}

.video-thumb:hover .video-thumb-hover {
    background-image: url("../images/play-hover.png");
}

.video-thumb .vimeo-iframe {
    display: none;
}

.project-hero .vimeo-iframe {
    display: block;
}

.project-masonry-element img {
    display: block;
    width: 100%;
}

.project-masonry-element {
    margin-bottom: 6px;
}

.project-masonry-element:last-child {
    margin-bottom: 0;
}

.related-projects {
    clear: both;
}

.related-project {
    position: relative;
}

.related-project .related-project-hover {
    background-color: gray;
    font-size: 17px;
    line-height: 19px;
    font-family: "FranklinGothic-Condensed";
    text-transform: uppercase;
}

.related-project .related-project-hover h5.client {
    padding: 8px 12px 0;
}

.related-project .related-project-hover h5.project {
    padding: 0 12px 8px;
}

.related-project a {
    color: white;
    text-decoration: none;
}

.no-touch .related-project .related-project-hover {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.reel h2 {
    font-family: "FranklinGothic-Condensed";
    text-transform: uppercase;
    margin: 0 12px;
    font-size: 20px;
    line-height: 60px;
    height: 60px;
    background: transparent url("../images/dotted-border.png") bottom left repeat-x;
}

.contact-map iframe {
    pointer-events: none
}

.contact-map iframe {
    width: 100%;
    height: 180px;
}

.contact-info {
    padding: 8px 0 8px 0;
    margin: 0 12px;
    font-size: 15px;
    line-height: 19px;
}

.contact-page footer {
    background: transparent url("../images/dotted-border.png") top left repeat-x;
    padding: 0;
    margin: 0 12px;
}

.contact-info .company-name {
    text-transform: uppercase;
}

.contact-info a {
    color: #345ea6;
    text-decoration: none;
}

.contact-info p {
    margin-bottom: 19px;
}

.contact-info h3 {
    text-transform: uppercase;
}

/* About Styles */
.about-page h3 {
    font-family: "FranklinGothic-Condensed";
    text-transform: uppercase;
    font-size: 20px; 
    line-height: 22px;
}

.about-page section p, .about-page section li {
    font-size: 15px;
    line-height: 19px;
}

.rule {
    clear: both;
    height: 1px;
    width: 100%;
    background: transparent url("../images/dotted-border.png") bottom left repeat-x;
}

.about-sections {
    padding: 12px 12px 0 12px;
}

.about-sections section {
    padding: 20px 0;
}  

.about-sections section.about-blurb {
    padding-top: 0;
}

.about-sections section h3 {
    margin-bottom: 16px;
}

.about-sections section p {
    margin-bottom: 16px;
}

.about-sections section p:last-of-type {
    margin-bottom: 0;
}

.about-page .related-projects h3 {
    padding-left: 12px;
    margin: 12px 0;
}
.about-page .clients-list .client-image {
    width: 50%;
    margin: 18px 0;
    float: left;
}
.about-page .clients-list .client-image img {
    width: 100%;
    display: block;
}
.about-page .clients-list {
    position: relative;
    overflow: hidden;
}

.home-page footer, .work-page footer, .about-page footer, .project-page footer, .capabilities-page footer {
    background: transparent url("../images/dotted-border.png") left top repeat-x;
    margin-top: 20px;
}

/* Capabilities Page Styles */
.capabilities-page h3 {
    font-family: "FranklinGothic-Condensed";
    text-transform: uppercase;
    font-size: 20px; 
    line-height: 22px;
    margin-bottom: 16px;
}
.capabilities-blurb, .team-members-blurb, .the-studio-blurb1, .the-studio-blurb2 {
    padding: 20px 12px;
}

.capabilities-page section p {
    font-size: 15px;
    line-height: 19px;
    margin-bottom: 16px;
}

.capabilities-page section p:last-of-type {
    margin-bottom: 0;
}

.capabilities-page section.related-projects h3 {
    padding-left: 12px;
    margin: 12px 0;
}

.capabilities-page .rule {
    width: auto;
    margin: 0 12px;
    padding: 0;
}

.team-member h4 {
    padding: 0 12px;
}

.team-member h4.name {
    font-family: "FranklinGothic-Condensed";
    font-size: 20px;
    line-height: 22px;
    margin-top: 16px;
}

.team-member h4.title {
    margin-bottom: 20px;
}

.biography {
    padding: 0 12px;
    color: #808285;
    margin-bottom: 16px;
}

.bio-toggle {
    padding: 0 12px;
    color: #808285;
    margin-bottom: 20px;
}

.team-member img {
    display: block;
    width: 100%;
}

.bio-toggle {
    cursor: pointer;
}
.bio-toggle:hover {
    color: #4578bc;
}
.biography {
    display: none;
}
.biography a {
    color: #4578bc;
    text-decoration: none;
    display: block;
    margin-bottom: 16px;
}
.biography p {
    margin-bottom: 20px;
}
.bio-toggle:after {
    font-size: 19px;
    float: right;
    content: "+";
    cursor: pointer;
}
.open.bio-toggle:after {
    content: "\2013";/* ndash */
}

.the-studio-pic1, .the-studio-pic2 {
    display: block;
    width: 100%;
}

.capabilities-page section.the-studio {
    padding-bottom: 24px;
}

@media only screen and (min-width: 414px){
    nav {
        width: auto;
    }
    nav a {
        margin: 0 12px;
    }

    /* Project Page Styles */
    .credits .credit {
        width: 50%;
        float: left;
    }
    .video-thumbnails, .related-project-thumbnails {
        width: 101%;
        left: -.5%;
        position: relative;
    }
    .video-thumb, .related-project {
        float: left;
        width: 49%;
        margin: .5%;
    }

    /* About Page Styles */
    section.capabilities, section.methods {
        float: left;
        width: 50%;
        margin: 0;
    }
    .rule.capabilities {
        display: none;
    }
    .about-page .clients-list .client-image {
        width: 33.3333%;
    }
}

@media only screen and (min-width: 600px){
    /* Makes grid slightly larger in order to get rid of side margins */
    .masonry {
        width: 100.55%;
        left: -.25%;
    }
    .slideshow {
        /*margin-bottom: .25%;*/
    }
    .slideshow .caption {
        font-size: 20px;
        height: 48px;
        line-height: 48px;        
    }
    .masonry-element {
        width: 49.5%;
        float: left;
        margin: .5% .25%;
    }
    .home-blurb {
        width: 99.5%;
        padding: 8px 12px 0 12px;
        overflow: hidden;
    }
    .home-blurb p {
        margin-bottom: 11px;
    }
    .home-blurb p.home-blurb-1 {
        float: left;
        width: 48%;
    }
    .home-blurb p.home-blurb-2 {
        float: right;
        width: 49.5%;
    }
    .home-project {
        margin-bottom: 0;
    }
    .reel h2 {
        font-size: 25px;
        line-height: 60px;
        height: 60px;
    }

    /* Project Styles */
    .project-blurb h2 {
        font-size: 25px;
        line-height: 26px;
    }
    .credits .credit {
        width: 33.333%;
    }
    .video-thumb, .related-project {
        width: 32.333%;
    }
    .contact-info {
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2; /* Firefox */
        column-count: 2;        
    }

    .about-page .clients-list .client-image {
        width: 25%;
    }

    /* Capabilities Page Styles */
    .capabilities-page .capabilties-section h3 {
        font-size: 25px;
        line-height: 26px;
    }
    .team-member {
        width: 49.5%;
        margin-right: 1%;
        float: left;
    }
    .team-member:nth-of-type(2n){
        margin-right: 0;
    }
    .team-member:nth-of-type(2n+1){
        clear: both;
    }
    .team-member:nth-of-type(2n) h4 {
        padding-left: 0;
    }    
    .team-member:nth-of-type(2n) .bio-toggle {
        padding-left: 0;
    }    
    .team-member:nth-of-type(2n) .biography {
        padding-left: 0;
    }
    section.the-studio {
        padding-top: 20px;
    }
    .the-studio-blurb1 {
        float: left;
        width: 49.5%;
        margin-right: 1%;
        padding: 0;
    }
    .the-studio-blurb1 * {
        padding: 0 12px;
    }
    .the-studio-pic1 {
        float: right; 
        width: 49.5%;
    }
    .the-studio-blurb2 {
        clear: both;
    }
}

@media only screen and (min-width: 765px){
    h1 {
        padding: 10px 0;   
    }
    h1 a {
        height: 46px;
        width: 215px;
        background-size: 215px;
    }
    nav {
        font-size: 17px;
    }
    nav a {
        margin: 0 14px;
    }
    .masonry-element {
        width: 32.833%;
    }
    .home-blurb {
        width: 66.166%;
        padding: .5% 12px 0 12px;
    }
    .slideshow .dot:hover {
        border: solid 1px #9C9EA1;
        background-color: #ffffff;
        margin: 0 7px;
    }

    /* Project Styles */
    .project-blurb {
        padding-bottom: 0;
        padding: 12px 12px 0 12px;
        margin: 0;
        background: none;
    }
    .project-blurb-col1 {
        width: 49.75%;
        float: left;
    }       
    .project-blurb-col2 {
        width: 49.75%;
        position: relative;
        float: right;
    }
    .credits {
        overflow: hidden;
        display: none;
        position: absolute;
        z-index: 1;
        width: 103%;
        left: 0;
        background-color: #fff;
        box-sizing: border-box;
        padding: 0 12px;
    }
    .credits .credit {
        width: 50%;
    }
    .video-thumbnails, .related-project-thumbnails {
        width: 100.5%;
        left: -.25%;
    }
    .video-thumb, .related-project  {
        width: 24.5%;
        margin: .25%;
    }
    .project-masonry {
        width: 100.5%;
        left: -.25%;
        position: relative;
    }
    .project-masonry-element {
        float: left;
        width: 49.5%;
        margin: .25%;
    }
    .contact-info {
         -webkit-column-count: 3; /* Chrome, Safari, Opera */
        -moz-column-count: 3; /* Firefox */
        column-count: 3;        
    }

    /* About Page Styles */
    section.about-blurb {
        width: 48%;
        float: left;
        margin-right: 2%;
    }
    section.capabilities, section.methods {
        padding: 0px 0px 20px;
        width: 25%;
    }
    .rule.about-blurb {
        display: none;
    }
    .about-page .clients-list .client-image {
        width: 20%;
    }
    /* Capabilities Page Styles */
    .capabilities-blurb {
        overflow: hidden;
    }
    .capabilities-blurb h3 {
        float: left;
        width: 32.6666%;
        margin-right: 1%;
    }
    .capabilities-blurb p {
        float: right;
        width: 66.1666%;
    }
    .team-members {
        overflow: hidden;
        padding: 20px 0 0 12px;
    }
    .team-members-blurb {
        padding: 0;
        float: left;
        width: 32.6666%;
        margin-right: 1%;
    }
    .team-member-headshots {
        float: right;
        width: 66.3333%;
    }
    .team-member h4 {
        padding-left: 0;
    }    
    .team-member .bio-toggle {
        padding-left: 0;
    }    
    .team-member .biography {
        padding-left: 0;
    }
    .the-studio {
        padding: 20px 0 0 12px;
    }
    .the-studio-blurb1, .the-studio-pic1 {
        padding: 0;
        float: left;
        width: 32.6666%;
        margin-right: 1%;
    }
    .the-studio-blurb1 * {
        padding: 0;
    }
    .the-studio-blurb2 {
        padding: 0;
        float: left;
        width: 32.6666%;
        clear:none;
    }
    .the-studio-pic2 { 
        width: 66.3333%;
        float: right;
        margin: 20px 0;
    }
}

@media only screen and (min-width: 1024px){
    .masonry-element {
        width: 24.5%;
    }
    .home-blurb {
        width: 49.5%;
    }

    /* Project Styles */
    .credits .credit {
        width: 33.3333%;
    }

    .contact-info { 
         -webkit-column-count: 1; /* Chrome, Safari, Opera */
        -moz-column-count: 1; /* Firefox */
        column-count: 1;
    }

    .contact-info-content {
        width: 25%;
        float: left;
    }

    .contact-info, .contact-map {
        margin: 0 auto;
        width: 1024px;
    }

    .contact-info {
        overflow: hidden;
    }

    .about-page .clients-list .client-image {
        width: 16.6666%;
    }

    section.capabilities, section.methods {
        width: 50%;
        float: right;
    }
    section.capabilities ul, section.methods ul {
         -webkit-column-count: 3; /* Chrome, Safari, Opera */
        -moz-column-count: 3; /* Firefox */
        column-count: 3;         
    }

    /* Capabilities Page Styles */
    .capabilities-blurb h3 {
        width: 24.25%;
    }
    .capabilities-blurb p {
        float: right;
        width: 74.75%;
    }
    .team-members-blurb {
        width: 24.25%;
    }
    .team-member-headshots {
        width: 74.75%;
    }
    .team-member {
        width: 32.6666%;
        margin-right: 1%;
    }
    .team-member:nth-of-type(2n){
        margin-right: 1%;
    }
    .team-member:nth-of-type(2n+1){
        clear: none;
    }
    .team-member:nth-of-type(3n){
        margin-right: 0;
    }
    .team-member:nth-of-type(3n+1){
        clear: both;
    }
    .the-studio {
        padding: 20px 0px 0px 12px;
    }    
    .the-studio-blurb1, .the-studio-pic1 {
        width: 24.25%;
    }
    .the-studio-blurb2 {
        float: right;
        width: 49.5%;
    }
    .the-studio-pic2 { 
        float: right;
        width: 49.5%;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1534px){
    .about-page .clients-list .client-image {
        width: 15%;
        margin-right: 2%;
    }
    .about-page .clients-list .client-image:nth-of-type(6n) {
        margin-right: 0;
    }
}

@media only screen and (min-width: 1300px){
    section.capabilities ul, section.methods ul {
         -webkit-column-count: 4; /* Chrome, Safari, Opera */
        -moz-column-count: 4; /* Firefox */
        column-count: 4;
    }
}

@media only screen and (min-width: 1535px){
    .masonry-element {
        width: 19.5%;
    }
    .home-blurb {
        width: 39.5%;
    }
    
    /* Project Styles */
    .video-thumb, .related-project  {
        width: 16.166%;
    }
    .project-blurb-col1 {
        width: 32.833%;
    }       
    .project-blurb-col2 {
        width: 33.333%;
        margin-left: .5%;
        float: left;
    }
    .credits {
        width: 101%;
        left: -.5%;
    }
    .project-masonry-element {
        width: 32.833%;
    }

    /* About Page Styles */
    section.about-blurb {
        width: 32.3333%;
        margin-right: 1%;
    }
    section.capabilities, section.methods {
        width: 16.6666%;
        padding: 0px 0px 20px;
        float: left;
    }
    section.capabilities ul, section.methods ul {
        -webkit-column-count: 1; /* Chrome, Safari, Opera */
        -moz-column-count: 1; /* Firefox */
        column-count: 1;
    }
    .rule.methods {
        display: none;
    }
    section.clients {
        width: 33.3333%;
        float: left;
        padding-top:0;
    }
    section.clients .clients-blurb {
        width: auto;
        float: none;
    }
    section.clients .clients-list {
        margin-top: 0;
    }

    .about-page .clients-list .client-image {
        width: 25%;
    }

    .rule.clients {
        display: block;
    }

    /* Capabilities Page Styles */
    .capabilities-blurb {
        width: 39.7%;
        margin-right: .5%;
        float: left;
        padding: 10px 0 0 0;
    }
    .capabilities-blurb h3, .capabilities-blurb p {
        float: none;
        width: auto;
        margin-left: 12px;
    }
    .capabilities-blurb p:last-of-type {
        padding-bottom: 20px;
        background: transparent url("../images/dotted-border.png") left bottom repeat-x;
    }
    section.the-studio {
        padding: 16px 0 0 0;
        width: 39.7%;
        margin-right: .5%;
        float: left;
    }
    .the-studio-blurb1 {
        float: left;
        width: 49.5%;
        margin-right: 1%;
        padding: 0;
    }
    .the-studio-blurb1 h3 {
        padding-left: 12px;
    }
    .the-studio-blurb1 p {
        padding-left: 12px;
    }
    .the-studio-pic1 {
        float: right; 
        width: 49.5%;
        margin-right: 0;
    }
    .the-studio-blurb2 {
        clear: both;
        width: auto;
        float: none;
    }
    .the-studio-blurb2 p {
        padding: 20px 12px 0;
    }
    .the-studio-pic2 {
        width: 100%;
        float: none;    
    }
    .team-members {
        float: right;
        width: 59.8%;
        padding: 10px 0 0 0;
    }
    .team-members-blurb {
        float: none;
        width: auto;
        margin-bottom: 20px;
    }
    .team-member-headshots {
        width: auto;
        float: none;
    }
    .rule {
        display: none;
    }
    .the-studio.rule {
        display: block;
    }

    .capabilities-page .related-project-thumbnails {
        position: static;
        width: auto;
    }
    .capabilities-page .related-project {
        width: 19.6%;
        margin: 0 .5% .5% 0;
    }
    .capabilities-page .related-project:nth-of-type(5n){
        margin-right: 0;
    }
}

@media only screen and (min-width: 1920px){
    body {
        width: 1920px;
        margin: 0 auto;
    }
}

