nav {
  position: relative;
}
nav .inner {
  width: 240px;
  margin: 0 auto;
}
@media (min-width: 414px) {
  nav .inner {
    width: auto;
  }
}
nav a.active {
  border-bottom: 1px solid black;
}
nav .tags-toggle-btn {
  position: absolute;
  right: 0;
  top: 8px;
  color: #a7a9ac;
  text-decoration: none;
  border-bottom: 0;
  background: none;
}
nav .tags-toggle-btn:hover {
  text-decoration: none;
  border-bottom: 0;
  background: none;
}
nav .tags-toggle-btn.open {
  color: black;
  text-decoration: none;
  border-bottom: 0;
  background: none;
}
.no-touch nav .tags-toggle-btn:hover {
  color: black;
  text-decoration: none;
  border-bottom: 0;
  background: none;
}
.tag-filters-wrap {
  display: none;
  position: relative;
  background-color: #a7a9ac;
  text-align: center;
  font-size: 16px;
  padding: 8px 0;
  line-height: 27px;
}
.tag-filters-wrap .tag-list-el {
  display: inline-block;
}
.tag-filters-wrap a {
  color: white;
  text-decoration: none;
  margin: 0 16px;
}
.tag-filters-wrap a.is-checked {
  color: black;
}
.password-form--wrap {
  padding: 30px 0;
  width: 80%;
  margin-left: 10%;
}
.swiper-slide img {
  width: 100%;
  height: auto;
}
